/*! HTML5 Boilerplate v9.0.1 | MIT License | https://html5boilerplate.com/ */

/* main.css 3.0.0 | MIT License | https://github.com/h5bp/main.css#readme */

/* ==========================================================================
   Base styles: opinionated defaults, Boilerplate
   ==========================================================================
   Author ID: Davit Dostourian Erbe // 281665 // ORT Uruguay, Programacion 1
   ==========================================================================
    TODO: - finish css, fix padding on buttons and text
          - fix text inside buttons
          - fix padding inside articles (all sides
          - fix padding inside sections (all sides)
          - add padding inside cells of table.


*/



html {
  font-family: "Arial", sans-serif;
  background-color: #7f7f7f;
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

h2{
  margin-left: 80px;
}
h3{
  margin-left:5px;
}

h1,
h3{
  color:black;
}

section{
  background-color: #FFFFFF;
  border-radius: 5px; /* All corners are rounded by 15px */
  padding-top:5px;
  margin-right:50px;
}

article{
  background-color: #f0f0f0;
  border-radius: 5px; /* All corners are rounded by 15px */
  padding: 20px; /* Applies to all sides */
  margin-left: 80px;
  margin-right:200px;
  margin-bottom: 30px;
}

button{
  color:white;
  background-color: #0ea4b6;
  border-radius: 5px;
  border-width:0;
  /*margin-bottom:5px;*/
  margin:3px;

  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px;
}
button:active{ /*show that the button is clicked*/
  background-color: #0a6671;
}

/*change button properties to make them the right size*/
#buttonAgregarInfluencer1,
#buttonCancelarInfluencer,
#buttonAgregarInfluencer2,
#buttonAgregarArticulo1,
#buttonCancelarArticulo,
#buttonAgregarArticulo2,
#buttonAgregarVenta1,
#buttonCancelarVenta,
#buttonAgregarVenta2{
                    width: 150px;
                    height: 40px;
}



table, th, td {
  border: 2px solid black;
  border-collapse: collapse;
  padding: 5px
}

label{
  align-items: center;
  width: 100px;
  padding-left: 5px;
}
input{
  margin-left: 30px;
}

hr {
  display: block;
  height: 3px;
  border: 0;
  border-top: 3px solid #ffffff;
  margin: 1.5em 0;
  padding: 0;
}
/*
.white-line {
  border: 0;
  height: 3px;
  background-color: white;
  width: 100%;
  margin-bottom: 30px;
}
*/
/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Customize the background color of highlighted text
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* ==========================================================================
   Helper classes
   ========================================================================== */
